h4 {
  color: blueviolet;
}

.minha-classe-1 {
  color: yellow;
}

#meu-id-1 {
  color: rgb(162, 94, 226);
}

#meu-id-2 {
  color: #56d4c4;
}

#meu-id-3 {
  color: rgb(55, 119, 175);
}

.cor-background {
  background-color: #a75cad;
}

.cor-background-2 {
  background-color: rgb(203, 248, 77);
}

.background-image {
  background-image: url(../assets/maxresdefault.jpg);
  color: cyan;
  width: 500px;
  height: 300px;
  background-position: center;
  background-size: cover;
  opacity: 10;
}
